# -!- coding: utf-8 -!-

# for cookies and stuff, nobody really cares
SECRET_KEY = 'fillme'

RECAPTCHA_PUBLICKEY = "fillme"
RECAPTCHA_PRIVATEKEY = "fillme"

DEBUG = False
ADMIN_EMAIL = ['foo@bar.com']
SMTP_SERVER = '127.0.0.1'
APP_EMAIL = 'foo@bar.com'

